Repository uioz/mfe-proxy-server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, prettier --write

chore: wrong lint-staged configuration
  .lintstagedrc.json
Due: prettier --write

chore: fix docs in annotation with trailing whitespace
  .editorconfig
Due: none

feat: base functionality support
  .eslintignore
  bin/index.js
  bin/template.js
  package-lock.json
  package.json
  src/common.ts
  src/index.ts
  src/types.ts
  tsconfig.json
Due: eslint --cache, prettier --write

feat: support relative path in manifest.json
  bin/template.js
  src/index.ts
  src/types.ts
Due: eslint --cache, prettier --write

feat: 在弹出 mfe-server.js 前进行检查
  bin/index.js
Due: eslint --cache, prettier --write

style: tweaking code styles
  .prettierrc.json
Due: prettier --write

style: tweaking code styles
  .prettierrc.json
  bin/index.js
  bin/template.js
  src/common.ts
  src/index.ts
Due: eslint --cache, prettier --write

feat: MPA basic support
  src/common.ts
  src/host.ts
  src/index.ts
  src/parseRoute.ts
  src/types.ts
Due: none

feat: #18
  src/host.ts
  src/types.ts
Due: none

feat: dev mode basic support
  bin/template.js
  src/common.ts
  src/host.ts
  src/index.ts
  src/parseConfig.ts
  src/types.ts
  src/utils.ts
Due: eslint --cache, prettier --write

chore(release): 1.0.0
  CHANGELOG.md
Due: prettier --write

chore: 更新依赖
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(readme): update readme
  README.md
Due: prettier --write

feat: initially commit
  bin/index.js
  bin/template.js
Due: eslint --cache, prettier --write

fix: mistake
  bin/template.js
Due: eslint --cache, prettier --write

feat: tempate supports env variables inject
  bin/index.js
  bin/template.js
Due: eslint --cache, prettier --write

chore(release): 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: template doesn't work
  bin/template.js
Due: eslint --cache, prettier --write

chore(release): 1.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: deafult env variables doesn't works
  bin/template.js
Due: eslint --cache, prettier --write

chore(release): 1.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: type definition
  src/types.ts
Due: none

feat: preCompressed support
  package-lock.json
  package.json
  src/host.ts
Due: prettier --write

feat: preCompressed support (#32)
  package-lock.json
  package.json
  src/host.ts
Due: prettier --write

chore(release): 1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --cache: any of: *.js
  prettier --write: any of: *.{js,md,json}
